- var sectionTitle = 'Вы уже смотрели'
- var viewTitle1 = 'Штора на тесьме Leaves (цвет: коричневый)'
- var viewTitle2 = 'Штора на тесьме "Ancona - V"'
- var viewTitle3 = 'Штора на тесьме "Senna-XL'
- var viewTitle4 = 'Штора на тесьме Cremona (цвет: Белый)'


section.you-view 
	.container
		.you-view-title
			h3=sectionTitle
		.you-view-list 
			ul.view-list
				li.view-list-item 
					img(src="./images/leaves-111864615-1.jpg", alt=viewTitle1)
					.view-list-item-title=viewTitle1
				li.view-list-item 
					img(src="./images/ancona_3-1.jpg", alt=viewTitle2)
					.view-list-item-title=viewTitle2 
				li.view-list-item 
					img(src="./images/senna-111858300-1.jpg", alt=viewTitle3)
					.view-list-item-title=viewTitle3
				li.view-list-item 
					img(src="./images/cremona-111538110-1.jpg", alt=viewTitle4)
					.view-list-item-title=viewTitle4
		.space
		